.flex{
            display: flex;
            align-items: center;
        }
        .flex_grow_1{
            flex-grow:1;
        }
        html,body {
            padding:0;
            margin:0;
            /* height:100%; */
            background:#000;
            /* background: url('img/open_hb_bg.png') no-repeat #CA3933; */
            /* background-size:100%; */
            font-family: STZhongsong ,kaiTi;
        }
        body{
            /* padding:.5rem .6rem; */
        }
        .top_font{
            font-size:0.54rem;
            font-weight:800;
            color:rgba(255,218,123,1);
        }
        .center_font{
            font-size:0.61rem;
            font-weight:bold;
            color:rgba(0,0,0,1);
            text-align:center;
            padding-top:1.1rem;
            font-family:PingFang SC;
        }
        .left_font,.right_font{
            width:0.53rem;
            font-size:0.56rem;
            font-weight:bold;
            color:rgba(0,0,0,1);
            line-height:1.2;
            opacity:0.9;
            font-family:PingFang SC;
        }
        .left_font{
            left: 0.56rem;
        }
        .right_font{
            right: .56rem;
        }
        .inner_top{
            text-align:center;
            color: #FBD874;
            font-size:.28rem;
            letter-spacing: 0.02rem;
            position:relative;
            top:-.34rem;
        }
        .qiang_btn{
            top:5.8rem;
            width:100%;
            text-align:center;
        }
        .listen{
            text-align:center;
            padding-left:2.33rem;
            font-size:0.4rem;
            font-weight:800;
            color:#FFDA7B;
            line-height:0.5rem;
            text-shadow:0rem 0rem .1rem rgba(125,4,5,0.8);

            /* background:linear-gradient(-8deg,rgba(208,163,99,1) 0%, rgba(246,232,176,1) 58.056640625%, rgba(206,159,95,1) 100%); */
            /* -webkit-background-clip:text; */
            /* -webkit-text-fill-color:transparent; */
        }
        .qiang_click_btn{
            background:url(img/qiang.png);
            width:2rem;
            border-radius: 50%;
            height: 2rem;
            background-size: 100%;
            padding: 0;
            outline: none;
            border: none;
            cursor: pointer;
        }
        .voice_box{
            top:9.7rem;
            width:100%;
            text-align:center;
            margin-top:-.1rem;
        }
        .voice_btn{
            background:url(img/voice_bg.png);
            width:3.34rem;
            /* border-radius: 50%; */
            height: .76rem;
            background-size: 100% 100%;
            padding: 0;
            outline: none;
            border: none;
            cursor: pointer;
            display: flex;
            margin:0 auto;
            padding:.0  .2rem  .07rem;
            align-items: center;
        }
        .listen_long{
            color:#D40000;
            font-size:0.26rem;
            font-weight:bold;
        }
        .btn_bg{
            background:url(img/btn_bg.png);
            width:1.64rem;
            height: .65rem;
            background-size: 100% 100%;
            padding: 0;
            outline: none;
            border: none;
            cursor: pointer;
            font-size:0.24rem;
            font-weight:800;
            color:rgba(211,0,0,1);
            padding-bottom:.06rem;
        }
        #box{
            /* display:none; */
            background: url('img/open_hb_bg.png')  no-repeat #CA3933;
            background-size: 100% ;
            border-radius:.2rem;
        }